{{ $content := (trim .Inner "\n\r") }}
{{ $lines := split $content "\n" }}
<div class="collapsibleHighlight">
    {{ if len $lines | lt 20 }}
    <input id="collapsibleHighlight-{{ hash.XxHash $content }}" checked type="checkbox"
           class="collapsibleHighlight_toggle"/>
    <label for="collapsibleHighlight-{{ hash.XxHash $content }}" class="collapsibleHighlight_label"></label>
    {{ end }}
    <pre class="collapsibleHighlight_code"
          id="collapsibleHighlight-code-{{ hash.XxHash $content }}">{{$content}}</pre>
    <div class="collapsibleHighlight_copy" onclick="navigator.clipboard.writeText(document.getElementById('collapsibleHighlight-code-{{ hash.XxHash $content }}').textContent);">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="18" height="18" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linejoin="round" stroke-width="1.4"
                  d="M9 8v3a1 1 0 0 1-1 1H5m11 4h2a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1h-7a1 1 0 0 0-1 1v1m4 3v10a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1v-7.13a1 1 0 0 1 .24-.65L7.7 8.35A1 1 0 0 1 8.46 8H13a1 1 0 0 1 1 1Z"/>
        </svg>
    </div>
    <div class="collapsibleHighlight_lang">{{ .Get 0 }}, {{ len $lines }} lines</div>
    <div class="collapsibleHighlight_wrapper">
        {{ if len .Params | eq 2 }}
        {{ highlight $content (.Get 0) (.Get 1) }}
        {{ else }}
        {{ highlight $content (.Get 0) "" }}
        {{ end }}
    </div>
</div>
